
body{
	background: black;
	font-size: 20px;
	margin-left: 25%;
	margin-right: 20%;
}
section{
	align-items: center;
	color: gray;
	display: flex;
	flex-direction: column;
}
article{
	align-items: center;
	display: flex;
	flex-direction: column;
}
.titulos{
	color: green;
	font-size: 30px;
	align-self: center;
}
#datos{
	border: 0.5mm solid white;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
}
.rojo{
	color: #EFEBE1;
	font-size: 80%;
}
#imagenPerfil{
	height: 45mm;
	width: 35mm;
}
.flexible{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 25px;
	align-items: center;
}
p{
	text-align: center;
}